<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>UserLoginFilter</filter-name>
  	<filter-class>com.hdu.carrental.filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UserLoginFilter</filter-name>
  	<url-pattern>/home_after_login.jsp</url-pattern>
  	<url-pattern>/gallery_after_login.jsp</url-pattern>
  	<url-pattern>/messages_after_login.jsp</url-pattern>
  	<url-pattern>/car_detail.jsp</url-pattern>
  	<url-pattern>/charge_info.jsp</url-pattern>
  	<url-pattern>/news_after_login.jsp</url-pattern>
  	<url-pattern>/modify_profile.jsp</url-pattern>
  	<url-pattern>/user_profile.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
  <filter-name>AdministratorLoginFilter</filter-name>
  <filter-class>com.hdu.carrental.filter.AdministratorLoginFilter</filter-class>
  </filter>
  <filter-mapping>
  <filter-name>AdministratorLoginFilter</filter-name>
  <url-pattern>/backstage/car_add.jsp</url-pattern>
  <url-pattern>/backstage/car_edit.jsp</url-pattern>
  <url-pattern>/backstage/car.jsp</url-pattern>
  <url-pattern>/backstage/Charges_edit.jsp</url-pattern>
  <url-pattern>/backstage/Charges.jsp</url-pattern>
  <url-pattern>/backstage/home.jsp</url-pattern>
  <url-pattern>/backstage/loginerror.jsp</url-pattern>
  <url-pattern>/backstage/message_edit.jsp</url-pattern>
  <url-pattern>/backstage/mesage.jsp</url-pattern>
  <url-pattern>/backstage/news_add.jsp</url-pattern>
  <url-pattern>/backstage/news_edit.jsp</url-pattern>
  <url-pattern>/backstage/news.jsp</url-pattern>
  <url-pattern>/backstage/user_edit.jsp</url-pattern>
  <url-pattern>/backstage/user.jsp</url-pattern>
  </filter-mapping>
  
  </web-app>
